:root {
  --primary-color: #12076f;
  --secondary-color: #462cf1;  
  --text-color: #333;
}


.border-box {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: var(--primary-color) 0 0 0 3px, transparent 0 0 0 0;
}

.border-box.main-nav {
  height: 100%;
  margin-right: 2%;
  box-sizing: border-box;
  width: 28%; /* 30% of the container's width */
  font-size: 30px;
}

.border-box.main-nav > *:first-child {
  padding: 5% 10% 5% 10%;
}

.Nav-User {
  margin: 5%;
  width: 50%;
  border-radius: 8px;
  background-color: rgb(167, 167, 167);
  box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
}

.Panel-2-Nav-Tile {
  margin: 5%;
  width: 100%;
  padding: 5%;
  border-radius: 8px;
  background-color: rgb(223, 223, 223);
  box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
}

.Panel-0 {
  display:flex;
  background-color: rgb(255, 255, 255);
  padding: 1%;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

ul {
  width: 100%;
  height: 100%;
  list-style-type: none;  /* Removes bullet points */
  padding: 0;         /* Removes the default padding */
  margin: 0;
  box-sizing: border-box;
}

.links ul {
  list-style-type: none;  /* Removes bullet points */
  padding-left: 10%;         /* Removes the default padding */
}

.links a {
	color: var(--primary-color);
  position: relative;
  text-decoration: none;
}

.links a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--primary-color);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.links a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.Chat-Nav {
  width: 100%;
}

.tile {
  padding: 5%;
  align-items: center;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: var(--primary-color);
  cursor: pointer;
  display: inline-flex;
  flex: column;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.tile.chat {
  margin: 5%;
  width: 90%;
  padding: 5%;
}

.tile.chat.selected {
  box-shadow: var(--primary-color) 0 0 0 3px, transparent 0 0 0 0;
}

.tile:hover {
  box-shadow: var(--primary-color) 0 0 0 3px, transparent 0 0 0 0;
}

.border-box.main {
  height: 100%;
  width:70%;
  box-sizing: border-box;
  padding: 2%;
}

.border-box.message-box {
  width:100%;
  height:16%;
  box-sizing: border-box;
  padding: 1%;
}

.border-box.messages {
  width:100%;
  height:80%;
  box-sizing: border-box;
  padding: 2%;
}

.border-box.find-user {
  width:100%;
  height:14%;
  box-sizing: border-box;
  padding: 1%;
}

.border-box.search-results {
  width:100%;
  height:73%;
  overflow: scroll;
  box-sizing: border-box;
  padding: 4%;
}

.border-box.scroll-chats {
  width:100%;
  height:88%;
  overflow: scroll;
  box-sizing: border-box;
  padding: 4%;
}

.search-wrap {
  height: 15%;
}

.tile.search-result {
  width: 100%;
  padding: 1%;
  height: 90%;
}

.select-info {
  width:100%;
  height:5%;
  display:flex;
  flex-direction: row;
}

.send-form {
  display: flex;
  flex-direction: row;
  align-items: center; /* Center-align inputs */
  width: 100%; /* Full width of parent */
  height: 100%;
}

.send-form-block {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 2%;
  width:100%;
  height:100%;
}

.text-block {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--primary-color);
  font-size: 24px;
}

.text-block.navChat-block {
  margin: 2%;
  width: 100%;
  justify-content: center;
}

.text-block.find-block {
  margin-left: 2%;
  width: 13%;
  font-size: 24px;
  justify-content: center; 
}

.text-block.profile-block {
  margin-right: 2%;
  width: 26%;
  font-size: 24px;
  justify-content: center; 
}

.text-block.selected-user-block {
  margin-left: 2%;
  width: 70%;
  font-size: 28px;
  font-weight: bold;
  text-align: left;
}

.fancy-button {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: var(--primary-color);
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  outline: none;
  overflow: visible;
  box-sizing: border-box;
  padding: 1%;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  word-break: keep-all;
  z-index: 0;
}

.fancy-button:before,
.fancy-button:after {
  border-radius: 80px;
}

.fancy-button:before {
  background-image: linear-gradient(92.83deg, var(--primary-color) 0, var(--primary-color) 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.fancy-button:after {
  background-color: initial;
  background-image: linear-gradient(#ffffff 0, #ffffff 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.fancy-button:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, var(--secondary-color) 0%, var(--secondary-color) 100%);
}

.fancy-button:hover {
  color: white;
}

.fancy-button:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
  color: #ffffff;
}

.fancy-button:active:not(:disabled) {
  color: #ccc;
}

.fancy-button:active:not(:disabled):before {
  /*background-image: linear-gradient(0deg, #ffffff, #ffffff), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);*/
  color: white;
}

.fancy-button:active:not(:disabled):after {
  background-image: linear-gradient(#ffffff 0, #ffffff 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.fancy-button:disabled {
  cursor: default;
  opacity: .24;
}

.fancy-button.create-chat-button {
  height: 100%;
  width: 15%;
  padding: 1%;
}

.fancy-button.profile {
  height: 100%;
  width: 25%;
  padding: 1%;
}

.fancy-button.profile.delete-account:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, red 0%, red 100%);
}

/* CSS */
.fancy-button.send-message {
  height: 100%;
  width: 15%;
  padding: 2%;
}

.send-form-input {
  appearance: none;
  background-color: none;
  border: 3px solid var(--primary-color);
  line-height: 0;
  font-size: 1rem;
  width: 75%;
  margin-right: 5%;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 100px;
  color: var(--primary-color);
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}

.send-form-input:focus {
  outline: none;
  background: #462cf1;
  color: white;
  margin-left: 30px;
}

.send-form-input:focus::placeholder {
  color: rgb(231, 233, 232);
}

input[type="text"] {
  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}

.vertical-margin-4-chat {
  height:4%;
}

.vertical-margin-10-tile {
  height:10%;
}